{
    "root": true,
    "env": {
      "es2021": true,
      "node": true
    },
    "extends": [
      "plugin:@darraghor/nestjs-typed/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json",
      "sourceType": "module",
      "ecmaVersion": 2021
    },
    "plugins": [
      "@darraghor/nestjs-typed",
      "@typescript-eslint/eslint-plugin",
      "prettier",
      "import"
    ]
  }
